* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #1F2937;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links{
    padding: 2% 4%;

}

.logo{
    color: white;
    font-size: 20px;
    padding: 2% 8%;
}

.nav-links ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    list-style: none;
    margin-top: -16px;
}

.titlemain{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 140px;
}
.section-1{
    background-color: #1F2937;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

.text-1{
    color: white;
    margin-left: 140px;
}

button{
    margin-left: 140px;
}

.container-1{
    width: 50%
}
.s1img{
    width: 50%;
    margin-left: 950px;
}

.s1imgs{
    height: 240px;

}

.btn-1{
    background-color: blue;
    padding: 8px 32px;
    border-radius: 8px;
    color: white;
    margin-top: 16px;
    border: 1px solid white;
}

.section-2{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    height: 250px;
  }

.info{
    max-width: 200px;
    
}

.header1 {
    text-align: center;
    margin-top: 16px;
    
}

img{
    border-radius: 16px;
}

.section-3{
    background-color: #E5E7EB;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-3{
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
}
span{
    display: flex;
    justify-content: flex-end;
}

.section-4{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4box{
    padding: 32px 48px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
}

.btn-2{
    background: #3882F6;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 24px;
    
}

.footer{
    background: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext{
    color: white;
}

btn-2::after{
    background: #1F2937;
}



